<% content_for :body_content_left do %>
  <%=raw @page.content_for(Page.default_parts.first.to_sym) if @news_items.offset == 0 %>

  <% if @news_items.any? %>
    <% @news_items.each do |item| %>
      <article class="news_item_truncated">
        <% if item.image %>
        <!-- EvilCat asked for this. I dunno y -->
        <div>
          <div class="image_up" />
          <div class="image_container">
            <%= image_fu item.image, '120x80#c', :title => item.title %>
          </div>
          <div class="image_bottom" />
        </div>
        <% end %>
        <h2>
          <% if item.page %>
            [<%= item.page.title %>]
          <% end %>
          <%= link_to item.title, news_item_url(item) %></h2>
        <p>
          <small>
            <%= l(item.publish_date, :format => :long) %>
          </small>
        </p>
        <% if item.digest %>
          <%= item.digest.html_safe %>
          <%= link_to t('.read_more'), news_item_url(item) %>
        <% else %>
          <%= truncate  item.body, :length => 200,
                        :omission => " ... #{link_to t('.read_more'), news_item_url(item)}",
                        :preserve_html_tags => true %>
        <% end %>
      </article>
    <% end %>

    <%= will_paginate(@news_items) %>
  <% else %>
    <p><em><%= t('.no_items_yet') %></em></p>
  <% end %>
<% end -%>

<%= render :partial => "/shared/content_page" %>
