<% content_for :body_content_left do %>
  <%=raw @page.content_for(Page.default_parts.first.to_sym) if @news_items.offset == 0 %>

  <% if @news_items.any? %>
    <% @news_items.each do |item| %>
      <article class="news_item_truncated">
        <% if item.image %>
        <!-- EvilCat asked for this. I dunno y -->
        <div>
          <div class="image_up"></div>
          <div class="image_container">
            <%= image_fu item.image, '120x80#c', :alt => item.title %>
          </div>
          <div class="image_bottom"></div>
        </div>
        <% end %>
        <h2>
          <% if item.page %>
            [<%= item.page.title %>]
          <% end %>
          <%= link_to item.title, news_item_url(item) %></h2>
        <%# <p> %>
        <%#   <small> %>
        <%#     <%= l(item.publish_date, :format => :long) %1> %>
        <%#   </small> %>
        <%# </p> %>
        <p>
        <% if item.digest %>
          <%=raw item.digest.html_safe.gsub(/^<p>(.*)<\/p>/, '\1') %>
          <%= link_to t('.read_more'), news_item_url(item) %>
        <% else %>
          <%= truncate  item.body.gsub(/^<p>(.*)<\/p>/, '\1'), :length => 200,
                        :omission => " ... #{link_to t('.read_more'), news_item_url(item)}",
                        :preserve_html_tags => true %>
        <% end %>
        </p>
      </article>
    <% end %>

    <%= will_paginate(@news_items, :previous_label => "&larr;".html_safe, :next_label => "&rarr;".html_safe) %>
  <% else %>
    <p><em><%= t('.no_items_yet') %></em></p>
  <% end %>
<% end -%>

<%= render :partial => "/shared/content_page" %>
